.thumbnail {
	width: 140px;
	height: 170px;
}

h3, h2 {
	text-shadow: 1px 1px #ffffff;
}

body {
	background-image: url("./components/assets/images/beach.jpg") !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}